<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tog"
        android:label="TôGarantido"
        android:roundIcon="@drawable/tog"
        android:supportsRtl="true"
        android:theme="@style/Theme.TogApp">
        <activity
            android:name=".Logo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity android:name=".Login" />
            <activity android:name=".Cadastro" />
            <activity android:name=".RecuperarSenha" />
            <activity android:name=".RecuperaCodigo" />
            <activity android:name=".NovaSenha" />
            <activity android:name=".Menu" />
            <activity android:name=".Servicos" />
            <activity android:name=".Acionamentos" />
            <activity android:name=".Chat" />
    </application>

</manifest>